<section ng-controller="WeatherCtrl">

    <div class="loader" ng-show="loader"></div>

    <section class="panel panel-padding">
        <p>
            La météo en temps réél !!
            <br /> D'ici ou d'ailleurs...
        </p>

        <form ng-submit="search()">
            <p>
                <input class="text" type="text" placeholder="Rechercher une ville" ng-model="city" />
            </p>
            <p>
                <input class="submit" type="submit" value="Rechercher" />
            </p>

        </form>

        <div class="row-title">
            {{ weather.city.name }} / {{ weather.city.country }}
        </div>

        <div class="row" ng-repeat="t in weather.list">
            <div class="temperature">{{ Math.round(t.temp.day) }}°C</div>
            <div class="date"> <strong>{{ t.dt * 1000 | date: 'EEE' }}</strong> {{ t.dt * 1000 | date: 'dd/MM' }} </div>
            <span class="icon-{{t.weather[0].main.toLowerCase()}}"></span>
        </div>
    </section>
</section>
