<?xml version='1.0' encoding='utf-8'?>
<widget id="myApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Météo Plus</name>
    <description>
        Météo Plus - Tutorial
    </description>
    <author email="" href="http://www.grafikart.fr/">
        Tutorial - http://www.grafikart.fr/
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
